<!-- main page, list of many ideas, can click on title and/or number of comments to see the idea -->
<!-- <h1>All Ideas</h1> -->
<ul class="idea_list">
<% @ideas.each do |idea| %>
  <li><%= link_to(idea.title, idea_path(idea)) %>
  <%= idea.comments.count %> <i class="fa fa-comments"></i></li>
<% end %>
</ul>
