$lightest-blue: #D4F2FA;
$light-blue: #A4DDED;
$dark-blue: #77C2D8;
$darkest-blue: #4EA1B8;

$lightest-orange: #FFEBD7;
$light-orange: #FFD7AE;
$dark-orange: #FFC489;
$darkest-orange: #FFB467;


$title-font: fff_tusjbold, sans-serif;

.top-bar {
  background-color: $lightest-blue;

  .name h1 a {
    color: $darkest-blue;
    font-family: $title-font;
    font-size: 2em;
  }

  .name h1 a:hover {
    color: $darkest-orange;
  }

  // .top-bar-section {
  //   ul li > a {
  //     color: red;
  //     background: $dark-blue;
  //   }
  .top-bar-section li a:not(.button){
    color: $darkest-blue;
    background: $light-blue;
  }

  .top-bar-section li a:not(.button):hover {
    background: $lightest-orange;
    color: $darkest-orange;
    }

}

.idea_list {
  // list-style-type: none;
  padding-left: 2em;
  padding-right: 2em;
  li {
    color: $darkest-orange;
    font-size: 1.5em;
    // padding-bottom: 0.5em;
    a {
      color: $darkest-blue;
    };
    a:hover {
      color: $darkest-orange;
    };
    #comment-info {
      padding-left: 1em;
      margin-top: -0.5em;
      color: $darkest-orange;
    }
  }
}
