<h1>About YesAnd </h1>
<p>YesAnd is a site to share your ideas and build on the ideas of others. The YesAnd team believes in collaboration and constant feedback as a way to build amazing and useful things, and YesAnd was built to support this method of creation. The concept of "yes and" comes from improv comedy, and represents the practice of taking what a fellow actor gives you and building on it without negating, belittling, or disagreeing with it.</p>
<h1>Team YesAnd</h1>
<p>YesAnd was built as part of our work at <a href='http://devbootcamp.com/'>Dev Bootcamp</a> and created in less than three days.</p>
<div id="us" class="row">
  <div class="small-4 columns">
    <h2>Kara Carrell</h2>
    <p><a href="twitter.com/KaraAJC">@KaraAJC</a></p>
  </div>
  <div class="small-4 columns">
    <h2>Ricardo Fleury</h2>
    <p><a href="twitter.com/rfleury2">@rfleury2</a></p>
  </div>
  <div class="small-4 columns">
    <h2>Stephanie Marx</h2>
    <p><a href="twitter.com/melissid">@melissid</a></p>
  </div>
</div>
